# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/

# Virtualenv
venv/
.env
.venv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# IDEs
.vscode/
.idea/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
